@import '../mixins.scss';

.woocommerce-js {

	.mnm_form.cart {
		.mnm_reset {
			display: none;
		}
		
		.mnm_status, .single_add_to_cart_button, .mnm_reset {
			display: none !important;
		}

		.mnm_button_wrap {
			.quantity  { 
				display: none !important;
			}
		}

		&.variable_mnm_form .variations_button .quantity {
			display: none !important;
		}

	}
	
	.wc-mnm-edit-container-shop_subscription .wc-mnm-edit-subscription-actions { display: none; }

}

.mnm-mobile-container {

	display: none;
	background: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	padding: 1em;
	overflow: visible;

	zoom: 1;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);

	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	.mnm-mobile-content {
		margin-top: 0;
		margin-bottom: 0;
	}

	.mnm_button_wrap {

		&:after {
			display: table;
			content: ' ';
			clear: both;
		}

		display: flex;

		.quantity input {
			max-width: 5em;
			margin-right: .5em;
		}
	}

	.mnm_price {
		display: inline-block;
		font-weight: bold;

		.price {
			font-size: inherit;
		}
	}

	.mnm_message {
		display: block;
	}

	.mnm_message_content {
		padding: 0;
		margin: 0 0 1em 0;
		list-style: none;
		font-size: .75em;

		li { 
			margin-left: 0;
			margin-right: 0;
		}
	}

	.mnm_availability {
		font-size: .75em;
	}

	.mnm_reset {
		padding: 0 !important;
		margin: 0 !important;

		&:after {
			font-size: initial;
		}
	}

	.wc-mnm-cancel-edit {
		margin-left: .5em;
	}

	&.valid {

		.mnm_button_wrap {
			display: flex;
		}

	}
	
}


/**
 * Not Mobile
 */
 @media screen and (min-width: 568px) {

	.mnm-mobile-container {
		.mnm-mobile-content {
			display: flex;
			justify-content: space-between;

			.mnm_message_content {
				margin-bottom: 0;
			}

		}

		.column.col-2 { 
			text-align: right;

			.quantity {
				display: inline-block;
				float: none;
			}
		}
	}

}

/**
 * Desktop
 */
 @media screen and (min-width: 1240px) {

	.mnm-mobile-container {
		.mnm-mobile-content {
			font-size: 1.2em;
		}
		.mnm_button_wrap .button {
			padding: 1em 1.2em;
		}

	}

}
