@mixin iconbefore( $glyph: "\f148" ) {
	font-family: "WC-Mix-And-Match";
	speak: never;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-right: 0.618em;
	content: $glyph;
	text-decoration: none;
	display: inline-block;
}

@mixin iconafter( $glyph: "\f148" ) {
	font-family: "WC-Mix-And-Match";
	speak: never;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-left: 0.618em;
	content: $glyph;
	text-decoration: none;
	display: inline-block;
}

