/**
 * Variables
 */
$handheld:          568px;


.woocommerce-js .mnm_form.cart {
	.mnm_reset {
		display: none;
	}
	
	.mnm_button_wrap {
		.mnm_price, .mnm_message, .mnm_availability, .quantity, .mnm_add_to_cart_button { 
			display: none !important;
		}
	}
}

.mnm-mobile-container {

	display: none;
	background: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	padding: 1em;
	overflow: hidden;
	zoom: 1;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);

	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	.column.col-1 {
		width: 60%;
		float: left;
	}

	.column.col-2 { 
		width: 40%;
		float: right;
		text-align: right;

		.quantity {
			display: inline-block;
			float: none;
		}
	}

	.mnm_button_wrap {

		.quantity input {
			max-width: 5em;
		}
	}

	.mnm_price .price {
		font-weight: bold;
		margin-bottom: 0 !important;
	}

	.mnm_message {
		display: block;
	}

	.mnm_message_content {
		padding: 0;
		margin: 0;
		list-style: none;

		li { 
			margin-left: 0;
			margin-right: 0;
		}
	}

	&:after {
		display: table;
		content: ' ';
		clear: both;
	}

	.mnm_availability {
		font-size: .75em;
	}

	.mnm_reset {
		font-size: .75em;
		margin: .5em 0 0 0;
	}

	&.valid {

		.mnm_button_wrap {
			display: block;
		}

	}

}

/**
 * Handheld
 */
@media (max-width: $handheld) {

	.mnm_form {

		&.layout_tabular {

			.mnm_table {
				thead { display: none; }

				tr {
					max-width: 300px;
					display: block;
					margin: 0 auto;
				}

				td {
					padding-left: 0 !important;
					padding-right: 0 !important;
					padding-top: 0 !important;
					display: block;
					vertical-align: top;
					line-height: 1.4;
					background: none;
				}

				.product-thumbnail {
					display: block;
					width: 100%;

					.mnm_image {
						width: 100%;
						padding-right: 0;
						margin: 0 auto;
					}
				}

				.product-details {
					display: inline-block;
					width: 65%;

					dl.variation, .price {
						margin-top: 0;
						font-size: .75;
					}
				}

				.product-quantity {
					display: inline-block;
					width: 35%;
					text-align: right;

					.qty {
						width: 4em;
					}

				}
			}
		}

	}


	.mnm-mobile-container {

		.column.col-1, .column.col-2 { 
			float: none;
			width: 100%;
			text-align: left;
		}

	}
}
