@charset "UTF-8";
div.mnm-mobile-container {
  position: fixed;
  left: 0;
  bottom: -150px;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  z-index: 10002;
  font-size: 14px;
  min-height: 160px;
  padding: 10px 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
}
div.mnm-mobile-container.mnm-mobile-slide {
  bottom: 0;
}
div.mnm-mobile-container div.mnm-mobile-nav {
  display: block;
  text-align: center;
  position: absolute;
  top: 8px;
  background-color: white;
  width: 100%;
  height: 1px;
  margin: 0 auto;
}
div.mnm-mobile-container div.mnm-mobile-nav a.mnm-mobile-btn-slide {
  display: block;
  width: 45px;
  margin: -45px auto;
  background-color: white;
  color: #020202;
  border-bottom: 1px solid #fff;
  box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
}
div.mnm-mobile-container div.mnm-mobile-nav a.mnm-mobile-btn-slide:hover::after {
  color: #858585;
}
div.mnm-mobile-container div.mnm-mobile-nav a.mnm-mobile-btn-slide:focus {
  outline-color: transparent;
}
div.mnm-mobile-container div.mnm-mobile-nav a.mnm-mobile-btn-slide:after {
  content: "+";
  background-color: #f6f5f5;
  height: 30px;
  width: 30px;
  display: inline-block;
  line-height: 30px;
  border-radius: 50%;
  color: black;
}
div.mnm-mobile-container div.mnm-mobile-nav a.mnm-mobile-btn-slide.up:after {
  content: "−";
}
div.mnm-mobile-container div.mnm-mobile-content {
  background-color: transparent;
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  padding: 5px 10px;
  color: #ccc;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart del {
  opacity: 0.8;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart ins {
  text-decoration: none;
  padding: 2px 5px;
  font-weight: 700;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart .mnm_button_wrap div.quantity {
  display: none;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart .mnm_button_wrap button.mnm_add_to_cart_button {
  display: none;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart ul.mnm_message_content {
  list-style-type: none !important;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart.valid .mnm_button_wrap {
  position: relative;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart.valid .mnm_button_wrap div.mnm_message {
  display: none;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart.valid .mnm_button_wrap .mnm_price {
  max-width: 60%;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart.valid .mnm_button_wrap button.mnm_add_to_cart_button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart .mnm_button_wrap .mnm_price p.price {
  color: #000;
  font-weight: 700;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart .mnm_button_wrap div.mnm_message {
  color: #000;
}
@media screen and (min-width: 768px) {
  div.mnm-mobile-container div.mnm-mobile-content {
    max-width: 50%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  div.mnm-mobile-container {
    /*display: none;*/
  }
}

/*# sourceMappingURL=wc-mnm-frontend-mobile.css.map */
