/**
 * Variables
 */
/**
 * Handheld
 */
@media (max-width: 568px) {
  .mnm_form.layout_tabular .mnm_table thead {
    display: none; }
  .mnm_form.layout_tabular .mnm_table tr {
    max-width: 300px;
    display: block;
    margin: 0 auto; }
  .mnm_form.layout_tabular .mnm_table td {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    display: block;
    vertical-align: top;
    line-height: 1.4;
    background: none; }
  .mnm_form.layout_tabular .mnm_table .product-thumbnail {
    display: block;
    width: 100%; }
    .mnm_form.layout_tabular .mnm_table .product-thumbnail .mnm_image {
      width: 100%;
      padding-right: 0;
      margin: 0 auto; }
  .mnm_form.layout_tabular .mnm_table .product-details {
    display: inline-block;
    width: 65%; }
    .mnm_form.layout_tabular .mnm_table .product-details dl.variation, .mnm_form.layout_tabular .mnm_table .product-details .price {
      margin-top: 0;
      font-size: .75; }
  .mnm_form.layout_tabular .mnm_table .product-quantity {
    display: inline-block;
    width: 35%;
    text-align: right; }
    .mnm_form.layout_tabular .mnm_table .product-quantity .qty {
      width: 4em; }
  .mnm_form .mnm_message.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999; }
    .mnm_form .mnm_message.fixed .woocommerce-info {
      margin-bottom: 0; }
    .mnm_form .mnm_message.fixed .mnm_message_content {
      padding: 0; } }