/**
 * Variables
 */
/**
 * Handheld
 */
@media (max-width: 568px) {
  .mnm_form {
    font-size: .75em; }
    .mnm_form.layout_tabular .mnm_table thead {
      display: none; }
    .mnm_form.layout_tabular .mnm_table tr {
      max-width: 300px;
      display: block;
      margin: 0 auto; }
    .mnm_form.layout_tabular .mnm_table td {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      display: block;
      vertical-align: top;
      line-height: 1.4; }
    .mnm_form.layout_tabular .mnm_table .product-thumbnail {
      display: block;
      width: 100%; }
      .mnm_form.layout_tabular .mnm_table .product-thumbnail .mnm_image {
        width: 100%;
        padding-right: 0;
        margin: 0 auto; }
    .mnm_form.layout_tabular .mnm_table .product-details {
      display: inline-block;
      width: 65%; }
      .mnm_form.layout_tabular .mnm_table .product-details dl.variation, .mnm_form.layout_tabular .mnm_table .product-details .price {
        margin-top: 0;
        font-size: .75; }
    .mnm_form.layout_tabular .mnm_table .product-quantity {
      display: inline-block;
      width: 35%;
      text-align: right; }
      .mnm_form.layout_tabular .mnm_table .product-quantity .qty {
        width: 4em; }
    .mnm_form .mnm_message.mnm_quantity_updated {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99; }
      .mnm_form .mnm_message.mnm_quantity_updated .woocommerce-info {
        margin-bottom: 0; }
      .mnm_form .mnm_message.mnm_quantity_updated .mnm_message_content {
        padding: 0; } }