@charset "UTF-8";
div.mnm-mobile-container {
  position: fixed;
  left: 0;
  bottom: -150px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  z-index: 10002;
  font-size: 14px;
  min-height: 160px;
  padding: 10px 5px;
  box-shadow: 0px -1px 5px black;
  transition: all 0.5s;
}
div.mnm-mobile-container.mnm-mobile-slide {
  bottom: 0;
}
div.mnm-mobile-container div.mnm-mobile-nav {
  display: block;
  text-align: center;
  position: absolute;
  top: -45px;
  background-color: transparent;
  color: #ccc;
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
}
div.mnm-mobile-container div.mnm-mobile-nav a.mnm-mobile-btn-slide {
  display: block;
  width: 45px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ccc;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  border-bottom: 1px solid #000;
}
div.mnm-mobile-container div.mnm-mobile-nav a.mnm-mobile-btn-slide:focus {
  outline-color: transparent;
}
div.mnm-mobile-container div.mnm-mobile-nav a.mnm-mobile-btn-slide:after {
  content: "+";
}
div.mnm-mobile-container div.mnm-mobile-nav a.mnm-mobile-btn-slide.up:after {
  content: "−";
}
div.mnm-mobile-container div.mnm-mobile-content {
  background-color: transparent;
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  padding: 5px 10px;
  color: #ccc;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart del {
  color: #fff;
  opacity: 0.8;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart ins {
  background: #414141;
  text-decoration: none;
  padding: 2px 5px;
  color: #fff;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart .mnm_button_wrap div.quantity {
  display: none;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart .mnm_button_wrap button.mnm_add_to_cart_button {
  display: none;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart ul.mnm_message_content {
  list-style-type: none !important;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart.valid .mnm_button_wrap {
  position: relative;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart.valid .mnm_button_wrap div.mnm_message {
  display: none;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart.valid .mnm_button_wrap .mnm_price {
  max-width: 50%;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart.valid .mnm_button_wrap .mnm_price span.total, div.mnm-mobile-container div.mnm-mobile-content .mnm_cart.valid .mnm_button_wrap .mnm_price span.amount {
  color: #fff;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart.valid .mnm_button_wrap button.mnm_add_to_cart_button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
div.mnm-mobile-container div.mnm-mobile-content .mnm_cart .mnm_price span.total, div.mnm-mobile-container div.mnm-mobile-content .mnm_cart .mnm_price span.amount {
  color: #fff;
}
@media screen and (min-width: 768px) {
  div.mnm-mobile-container div.mnm-mobile-content {
    max-width: 50%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  div.mnm-mobile-container {
    /*display: none;*/
  }
}

/*# sourceMappingURL=wc-mnm-frontend-mobile.css.map */
