@mixin iconbefore( $glyph: "\f148" ) {
	font-family: 'WC-Mix-And-Match';
	speak: never;
	font-weight: 400;
	font-variant: 400;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-right: 0.618em;
	content: $glyph;
	text-decoration: none;
	display: inline-block;
}

@mixin iconafter( $glyph: "\f148" ) {
	font-family: 'WC-Mix-And-Match';
	speak: never;
	font-weight: 400;
	font-variant: 400;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-left: 0.618em;
	content: $glyph;
	text-decoration: none;
	display: inline-block;
}

@keyframes slideUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}

@keyframes slideDown {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(100%);
	}
}

.woocommerce-js {

	.mnm_form.cart {

		.mnm_status >*:not(.mnm_availability) {
			display: none !important;
		}
		
		.single_add_to_cart_button, .mnm_reset {
			display: none !important;
		}

		.mnm_button_wrap {
			.quantity  { 
				display: none !important;
			}
		}

		&.variable_mnm_form .variations_button .quantity {
			display: none !important;
		}

	}
	
	.wc-mnm-edit-container-shop_subscription .wc-mnm-edit-subscription-actions { display: none; }

}

.mnm-mobile-container {

	background: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: 1em;
	overflow: visible;

	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);

	-webkit-animation-name: slideDown;
	animation-name: slideDown;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	&:empty {
		-webkit-animation-name: slideDown;
		animation-name: slideDown;
	}

	&:not(:empty) {
		-webkit-animation-name: slideUp;
		animation-name: slideUp;
	}	

	progress.mnm-container-progress {
		display: block;
		margin: .25em 0;
	}

	progress.mnm-container-progress[value] {
		/* Reset the default appearance */
		-webkit-appearance: none;
		appearance: none;
		accent-color: var(--wp--preset--color--contrast, #222);
		border: 1px solid lightgray;
		transition: width 0.5s;
		max-width: 17em;
		height: .25em;
		width: 100%;
	  }
	  
	progress.mnm-container-progress::-webkit-progress-value {
		background-color: var(--wp--preset--color--contrast, #222);
		transition: width 0.5s;
	  }
	  
	progress.mnm-container-progress::-moz-progress-bar {
		background-color: var(--wp--preset--color--contrast, #222);
		transition: width 0.5s;
	}

	.mnm-mobile-content {
		margin-top: 0;
		margin-bottom: 0;

		&.context-add-to-cart {
			&.fails_validation {
				.mnm_button_wrap .single_add_to_cart_button {
					opacity: 0; // Hide the button until valid.
					display:  none;
				}
			}
		
			&.passes_validation {
				.mnm_button_wrap .single_add_to_cart_button {
					opacity: 1;
				}
			}
		}
	}

	.mnm_button_wrap {

		margin-top: .5em;

		&:after {
			display: table;
			content: ' ';
			clear: both;
		}

		.quantity input {
			max-width: 5em;
			margin-right: .5em;
		}
	}

	.single_add_to_cart_button {
		transition: opacity 0.3s ease-in-out; 
		margin-top: 0 !important;
		width: 100%;
	}

	.mnm_price {
		display: inline-block;
		margin-right: .25em;
	
		.price {
			font-size: inherit;
		}
	}

	.mnm_message {
		display: block;
	}

	.mnm_message_content {
		padding: 0;
		margin: 00;
		list-style: none;
		font-size: .75em;

		li { 
			margin-left: 0;
			margin-right: 0;
		}
	}

	.mnm_availability {
		font-size: .75em;
	}

	.mnm_reset {
		padding: 0 !important;
		margin: 0 0 0 .25em !important;
		border: 0;
		background-color: transparent;
		cursor: pointer;

		&:after {
			font-size: .875em;
			margin-left: .5em;
		}

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.wc-mnm-cancel-edit {
		margin-left: .5em;
	}

}


/**
 * Not Mobile
 */
 @media screen and (min-width: 568px) {

	.mnm-mobile-container {
		padding: 1em;

		.mnm-mobile-content {
			display: flex;
			justify-content: space-between;

			.mnm_message_content {
				margin-bottom: 0;
			}

			&.context-add-to-cart {
				&.fails_validation {
					.mnm_button_wrap .single_add_to_cart_button {
						opacity: 1; // Always show button in non-mobile.
						animation: none;
						display: inline-block;
					}
				}
			}
		}

		.column.col-1 {
			flex-grow: 2;
		}
		.column.col-2 {
			flex-grow: 1;
			margin-left: auto;

			.quantity {
				display: inline-block;
				float: none;
			}

			.mnm_button_wrap {
				margin-top: 0;
				text-align: right;
			}

			.single_add_to_cart_button {
				display: inline-block;
				width: initial;
			}
		}
	}

}

/**
 * Desktop
 */
 @media screen and (min-width: 1240px) {

	.mnm-mobile-container {

		.mnm-mobile-content {
			font-size: 1.2em;
		}
		.mnm_button_wrap .button {
			padding: 1em 1.2em;
		}

	}

}
