@mixin iconbefore( $glyph: "\f148" ) {
	font-family: 'WC-Mix-And-Match';
	speak: never;
	font-weight: 400;
	font-variant: 400;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-right: 0.618em;
	content: $glyph;
	text-decoration: none;
	display: inline-block;
}

@mixin iconafter( $glyph: "\f148" ) {
	font-family: 'WC-Mix-And-Match';
	speak: never;
	font-weight: 400;
	font-variant: 400;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-left: 0.618em;
	content: $glyph;
	text-decoration: none;
	display: inline-block;
}

.woocommerce-js {

	.mnm_form.cart {
		.mnm_reset {
			display: none;
		}
		
		.mnm_status, .single_add_to_cart_button, .mnm_reset {
			display: none !important;
		}

		.mnm_button_wrap {
			.quantity  { 
				display: none !important;
			}
		}

		&.variable_mnm_form .variations_button .quantity {
			display: none !important;
		}

	}
	
	.wc-mnm-edit-container-shop_subscription .wc-mnm-edit-subscription-actions { display: none; }

}

.mnm-mobile-container {
	display: none;
	background: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: 1em;
	overflow: visible;

	zoom: 1;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);

	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	&:not(:empty) {
		display: block;
	}

	progress.mnm-container-progress {
		display: block;
		margin: .25em 0;
	}

	progress.mnm-container-progress[value] {
		/* Reset the default appearance */
		-webkit-appearance: none;
		appearance: none;
		accent-color: var(--wp--preset--color--contrast, #222);
		border: 1px solid lightgray;
		transition: width 0.5s;
		max-width: 17em;
		height: .25em;
		width: 100%;
	  }
	  
	progress.mnm-container-progress::-webkit-progress-value {
		background-color: var(--wp--preset--color--contrast, #222);
		transition: width 0.5s;
	  }
	  
	progress.mnm-container-progress::-moz-progress-bar {
		background-color: var(--wp--preset--color--contrast, #222);
		transition: width 0.5s;
	}

	.mnm-mobile-content {
		margin-top: 0;
		margin-bottom: 0;
	}

	.mnm_button_wrap {

		&:after {
			display: table;
			content: ' ';
			clear: both;
		}

		display: flex;

		.quantity input {
			max-width: 5em;
			margin-right: .5em;
		}
	}

	.single_add_to_cart_button {
		margin-top: 0 !important;
	}

	.mnm_price {
		display: inline-block;
		font-weight: bold;
		margin-right: .25em;
	
		.price {
			font-size: inherit;
	
			del {
				opacity: .5;
				color: red;
			}
		}
	}

	.mnm_message {
		display: block;
	}

	.mnm_message_content {
		padding: 0;
		margin: 0 0 1em 0;
		list-style: none;
		font-size: .75em;

		li { 
			margin-left: 0;
			margin-right: 0;
		}
	}

	.mnm_availability {
		font-size: .75em;
	}

	.mnm_reset {
		padding: 0 !important;
		margin: 0 0 0 .5em !important;
		border: 0;
		background-color: transparent;

		&:after {
			font-size: initial;
		}

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.wc-mnm-cancel-edit {
		margin-left: .5em;
	}

	&.valid {

		.mnm_button_wrap {
			display: flex;
		}

	}

	.mnm-config-contents {
		
		.mnm-config-contents__items {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			padding: 0;

			.mnm-config-contents-items__item {
				margin-bottom: .5em;

				.remove {
					margin: 0 .5em .5em 0;
					padding: .25em .5em;
					position: absolute;
					top: -.5em;
					left: -.5em;
					border-radius: 50%;
					opacity: 0;
					z-index: 1;
				}

				&.has-selection button.remove {
					opacity: 1;
				}
			}

			.mnm-config-contents-items__item-image {
				border: 2px dashed #999999;
				height: 90px;
				width: 90px;
			}

			.mnm-config-contents-items__item-title {
				margin: 0;
			}
		}
	}
}


/**
 * Not Mobile
 */
 @media screen and (min-width: 568px) {

	.mnm-mobile-container {
		.mnm-mobile-content {
			display: flex;
			justify-content: space-between;

			.mnm_message_content {
				margin-bottom: 0;
			}

		}

		.column.col-2 { 
			text-align: right;

			.quantity {
				display: inline-block;
				float: none;
			}
		}
	}

}

/**
 * Desktop
 */
 @media screen and (min-width: 1240px) {

	.mnm-mobile-container {
		.mnm-mobile-content {
			font-size: 1.2em;
		}
		.mnm_button_wrap .button {
			padding: 1em 1.2em;
		}

	}

}
